.main-content {
  position: relative;
  background: $black url("../img/content/main-photo_dktp.jpg") 50% 0/100% 100% no-repeat;
  padding: 310px 0 240px 0;
  // z-index: 2;


  @media (max-width: $tablet-max-width) {
    background: url("../img/content/main-photo_tablet.jpg") 50% 0/100% auto no-repeat;

    padding: 20px 0 0 0;
  }

  @media (max-width: $mobile-max-width) {
    background: url("../img/content/main-photo_mobile.jpg") 50% 0/100% auto no-repeat;
    padding: 46px 0 0 0;
  }

  &__wrapper {
    max-width: 880px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width: $tablet-max-width) {
      max-width: 435px;
      justify-content: center;
    }

    @media (max-width: $mobile-max-width) {
      max-width: 288px;
    }
  }
}
