.video {
  background-color: $dark-4;
  margin: 0 0 95px 0;

  @media (max-width: $tablet-max-width) {
    margin: 0 0 84px 0;
  }


  &__wrapper {
    max-width: 929px;
    margin: 0 auto;


    @media (max-width: $tablet-max-width) {
      max-width: 503px;
    }

    @media (max-width: $mobile-max-width) {
      max-width: 288px;
    }
  }

  &__feature {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 706px;

    @media (max-width: $tablet-max-width) {
      height: 413px;
    }

    @media (max-width: $mobile-max-width) {
      height: 384px;
    }
  }

  & h2 {
    @include font-parametrs(600, 30px, 30px);
    letter-spacing: -0.005em;
    color: $white;
    margin: 120px 0 20px 0;

    @media (max-width: $tablet-max-width) {
      font-size: 24px;
      margin: 70px 0 20px 0;
    }

    @media (max-width: $mobile-max-width) {
      margin: 84px 0 20px 0;
    }
  }

  & p {
    @include font-parametrs(300, 16px, 28px);
    letter-spacing: -0.005em;

    @include rgba($white, 0.7);
    margin: 0 0 56px 0;
    width: 349px;
    text-align: center;

    @media (max-width: $tablet-max-width) {
      width: 429px;
      margin: 0 0 40px 0;
    }

    @media (max-width: $mobile-max-width) {
      width: 288px;
      margin: 0 0 54px 0;
    }
  }

  &__content {
    flex: 1 0 522px;
    position: relative;

    @media (max-width: $tablet-max-width) {
      flex-basis: 282px;
    }

    @media (max-width: $mobile-max-width) {
      flex-basis: 161.66px;
    }
  }

  &__ibg {
    & a {
      display: flex;
      position: absolute;
      top: 49%;
      left: 50%;
      transform: translate(-51%, -48%);

      &:hover {
        opacity: 0.5;
      }

      &:focus {
        background-color: $azure;
      }

      @media (max-width: $tablet-max-width) {
        transform: translate(-50%, -48%);
        width: 90.36px;
        height: 90.36px;
      }

      @media (max-width: $mobile-max-width) {
        transform: translate(-50%, -52%);
        top: 48%;
        width: 65px;
        height: 65px;
      }
    }

    @media (max-width: $tablet-max-width) {
      top: 0;
    }
  }

  & .video__pic {
    img {
      @media (max-width: $tablet-max-width) {
        width: 503px;
        height: 282px;
      }

      @media (max-width: $mobile-max-width) {
        width: 288px;
        height: 161.66px;
      }
    }
  }
}
